.ticket {
  display: flex;
  height: 10.5rem;
  padding: 1.5rem;
  align-items: flex-start;
  gap: 1.5rem;
}

.ticket {
  border-radius: 8px;
  background: #fff;
}

.poster {
  border-radius: 8px;
  height: 100%;
  width: 6.25rem;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}

.title {
  color: var(--text-primary, #1b1f23);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.genre {
  color: var(--text-primary, #1b1f23);
  font-size: 1rem;
  font-style: italic;
  line-height: 1.25rem;
}
