.edit {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-items: center;
}

.edit p {
  color: var(--text-primary, #1b1f23);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.edit .change {
  border-radius: 4px;
  border: 0;
  background: var(--orange, #f50);
  width: 1.25rem;
  height: 1.25rem;
}

.edit .change {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit .change:disabled {
  background: var(--orange-disabled, #ffa375);
}

.edit .change:not(:disabled):hover {
  background: var(--orange-hover, #e94e00);
}

.close {
  background: transparent;
  background-repeat: no-repeat;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}

.close:hover {
  background-color: #bbbbbb;
}
